body {
  background-color: #FFF5F6;
  font-family: Roboto, sans-serif;
  margin: 0 auto;
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0px;
  padding: 0px;
}

a,
button {
  cursor: pointer;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  width: 100vw;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__container {
  padding-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-btn {
  width: 20px;
  height: 14px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0px;
  margin: 0px;
}

.header-btn__svg {
  display: block;
  width: 20px;
  height: 14px;
  fill: #D41443;
}

.logo {
  width: 200px;
  height: 50px;
}

.logo__icon {
  width: 200px;
  height: 50px;
}

.hero {
  background-color: #FFB8CA;
  height: 502px;
  padding-top: 194px;
  padding-bottom: 158px;
}

.hero-container {
  position: relative;
}

.hero__circle {
  position: absolute;
  top: -111px;
  right: -62px;
  width: 344px;
  height: 344px;
  background-color: #FFA5BA;
  border-radius: 50%;
}

.hero__image {
  position: absolute;
  right: 32px;
  bottom: -158px;
  z-index: 2;
}

.hero__title {
  position: relative;
  z-index: 3;
  color: #ffffff;
  font-family: Titan One;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: left;
  text-transform: uppercase;
}

.hero__title-container {
  color: #D41443;
  font-family: Titan One;
  font-size: 48px;
  line-height: 0.96;
  letter-spacing: 0em;
  text-align: left;
}

.hero__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  gap: 8px;
  margin-top: 20px;
}

.hero__button {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 83px;
  height: 24px;
  color: #D41443;
  background-color: #ffffff;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 20px;
}

.hero__button--back-color {
  width: 63px;
  color: #ffffff;
  background-color: #D41443;
}/*# sourceMappingURL=main.css.map */