$primary-body-background-color: #FFF5F6;
$hero-background-color:#FFB8CA;
$circle-color: #FFA5BA;
$hero-title-container: #D41443;
$title-primary-color: #ffffff;
$menu-primary-background-color: #E17992;
$menu-border-color: #e18298; 
$cubic:250ms cubic-bezier(0.4, 0, 0.2, 1);