.about{
    padding-bottom: 0px;
}

.about__container{
    width: 320px;
}

.about__title-container{
    width: 280px;
    margin: 0 auto;
    font-family: Titan One;
}

.about__subtitle{
    color: $circle-color;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
}

.about__title{
    margin-top: 15px;
    color: $hero-title-container;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
}

.about__img{
    width: 280px;
    margin: 0 auto;
}

.about__primary-text{
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 22px;
    width: 210px;
    height: 94px;
    color: $primary-black-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.58;
    text-align: left;
}

.about__text{
    display: flex;
    flex-direction: column;
    width: 210px;
    color: $secondary-text-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.58;
    text-align: left;
}

.about__text-container{
    margin-top: 10px;
}

.about__btn{
    margin-top: 23px;
    margin-right: auto;
    padding-left: 42px;
    padding-right: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 176px;
    height: 44px;
    color: $hero-title-container;
    background-color: $title-primary-color;
    border-radius: 22px; 
    border: $primary-black-color solid 1px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.about__btn-svg{
    width: 8px;
    height: 8px;
}