.gallery__container{
    width: 320px;
    padding: 0;
}

.gallery__list{
    height: 136px;
    display: flex;
    gap: 2px;
}

.gallery__item{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.gallery__item:nth-child(1){
    margin-top: 45px;
}

.gallery__item:nth-child(2){
    margin-top: 28px;
}

.gallery__item:nth-child(4){
    margin-top: 31px;
}

.gallery__item:nth-child(5){
    margin-top: 21px;
}

.gallery__item:nth-child(6){
    margin-top: 49px;
}

.gallery__img:hover{
    transform: scale(1.2);
}