.header{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header__container{
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-btn{
    width: 20px;
    height: 14px;
    border: none;
    background-color: rgba(0,0,0,0);
    padding: 0px;
    margin: 0px;
}

.header-btn__svg{
    display: block;
    width: 20px;
    height: 14px;
    fill: #D41443;
}