.header{
    position: absolute;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
}

.header__container{
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__btn-switch{
    width: 20px;
    height: 14px;
    border: none;
    background-color: rgba(0,0,0,0);
    padding: 0px;
    margin: 0px;

    &:hover .header__btn-svg,
    &:focus .header__btn-svg{
        stroke: $title-primary-color;
    }

}

.header__btn-svg{
    display: block;
    width: 20px;
    height: 14px;
    stroke: $hero-title-container;
    transition: stroke $cubic;
}