.header{
    position: relative;
    position: absolute;
    z-index: 5;
    width: 100%;
}

.header__container{
    padding-top: 8px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width:768px ) {
        padding-top: 32px;
        padding-right: 32px;
        padding-left: 32px;
        width: 768px;
        margin: 0 auto;
    }

    @media screen and (min-width:1200px ) {
        padding-top: 40px;
        padding-right: 16px;
        padding-left: 16px;
        width: 1200px;
    }
}

.header__group-container{
    display: flex;
    gap: 32px;
    align-items: center;
    
    @media screen and (min-width:1200px ) {
        gap: 141px;
    }
}

.header__laptop-list{
    display: none;

    @media screen and (min-width:1200px ) {
        display: flex;
        gap: 35px;
    }

}

.header__laptop-link{
    color: $title-primary-color;
    font-size: 16px;
    line-height: 1.3;

}

.header__btn-switch-container{
    @media screen and (min-width:1200px ) {
        display: none;
    }
}

.header__btn-buy-container{
    display: none;
    
    @media screen and (min-width:768px ) {
        display: block;
    }
}

.logo{
    width: 200px;
    height: 50px;
}

.logo__icon{
    width: 200px;
    height: 50px;
}

.header__btn-switch{
    width: 20px;
    height: 14px;
    border: none;
    background-color: rgba(0,0,0,0);
    padding: 0px;
    margin: 0px;

    &:hover .header__btn-svg,
    &:focus .header__btn-svg{
        stroke: $title-primary-color;
    }

}

.header__btn-svg{
    display: block;
    width: 20px;
    height: 14px;
    stroke: $hero-title-container;
    transition: stroke $cubic;
}