.hero{
    background-color: $hero-background-color;
    height: 502px;
    padding-top: 194px;
    padding-bottom: 158px;
    background-image: url(../img/hero/circle.png);
    background-position: 36px 83px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.hero__container{
    position: relative;
}

.hero__image{
    position: absolute;
    right: 32px;
    bottom: -158px;
    z-index: 2;
}

.hero__title{ 
    position: relative;
    z-index: 3;
    color: $title-primary-color;
    font-family: Titan One;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-align: left;
    text-transform: uppercase;
}

.hero__title-container{
    color: $hero-title-container;
    font-family: Titan One;
    font-size: 48px;
    line-height: 0.96;
    letter-spacing: 0em;
    text-align: left;
}

.hero__list{
    position: relative;
    display: flex;
    z-index: 3;
    gap: 8px;
    margin-top: 20px;
}

.hero__button{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83px;
    height: 24px;
    color:$hero-title-container;
    background-color: $title-primary-color;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 20px;
    transition: color $cubic, background-color $cubic;

    &:hover,
    &:focus{
        color: $title-primary-color;
        background-color: $hero-title-container;
    }

}

.hero__button--back-color{
    width: 63px;
    color: $title-primary-color;
    background-color: $hero-title-container;

    &:hover,
    &:focus{
        color:$hero-title-container;
        background-color: $title-primary-color;
    }

}