.products{
    background-color: $title-primary-color;
}

.products__container{
    width: 320px;
    
    @media screen and (min-width:768px ) {
        width: 768px;
    }
        
    @media screen and (min-width:1200px ) {
        width: 1200px;
    }
} 

.products__subtitle{
    margin-bottom: 15px;
    color: $circle-color;
    font-family: Titan One;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width:768px ) {
        font-size: 26px;
        line-height: 1.15;
    }

    @media screen and (min-width:1200px ) {
        font-size: 30px;
        line-height: 34.35px;
    }

}

.products__title{
    color: $hero-title-container;
    font-family: Titan One;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width:768px ) {
        font-size: 48px;
    }

    @media screen and (min-width:1200px ) {
        font-size: 58px;
        line-height: 66.41px;
        letter-spacing: 0.06em;
    }

}

.products__list{
    display: flex;
    flex-direction: column;
    gap: 140px;
    margin-top: 148px;

    @media screen and (min-width:768px ) {
        flex-direction: row;
        gap: 16px;
        margin-top: 158px;
    }
    
    @media screen and (min-width:1200px ) {
        gap: 32px;
        margin-top: 281px;
    }
}


.products__item{
    transition: transform $cubic;
    &:hover{
        transform: rotateY(180deg);
    }

}