.statistic{
    padding-top: 40px;
    padding-bottom: 55px;
}

.statistic-container{
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

.statistic__item:not(:last-child){
    margin-bottom: 32px;
}

.statistic__icon{
    height: 50px;
    margin-bottom: 16px;
}

.statistic__title{
    margin-bottom: 19px;
    color: $hero-title-container;
    font-family: Titan One;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-align: left;
}

.statistic__text{
    width: 230px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.67;
    text-align: left;
}