body {
    // color: $primary-text-color;
    background-color:$primary-body-background-color;
    font-family: Roboto,sans-serif;
    margin: 0 auto;
    font-weight: 400;
}

ul{
    list-style:none;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    margin: 0px;
    padding: 0px;
}

a,
button{
    cursor: pointer;
}

img{
    object-fit: cover;
    display: block;
}

.container{
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
    width: 100vw;

    @media screen and (min-width:768px ) {
        width: 768px;
    }

    @media screen and (min-width:1200px ) {
        width: 1200px;
    }
}

.section{
    padding-top: 60px;
    padding-bottom: 60px;
}

.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}